<div class="container">
    <div class="img-erea">
        <div class="img">
            <img
                src="https://img.freepik.com/free-photo/young-caucasian-woman-winks-eye-holds-okay-gesture-with-hand_1187-23382.jpg?size=626&ext=jpg" />
        </div>
        <div class="shortcut">
            <div class="love">
                <i class="far fa-heart"></i>
                <span class="qount"> 17</span>
            </div>
            <div class="message">
                <i class="far fa-comment-alt"></i>
            </div>
        </div>
    </div>
    <div class="head">
        <div class="name">
            Claire Frank's
        </div>
        <div class="headline">
            Trip To Morocco
        </div>
    </div>
    <div class="tags">
        <div class="head-tag">
            Tags:
        </div>
        <img
            src="https://img.freepik.com/free-photo/woman-smiling-face-with-curly-hair_1139-582.jpg?size=626&ext=jpg" />
        <img
            src="https://img.freepik.com/free-photo/joyfull-woman-purple-dress-among-purple-margaret-flower_1150-20472.jpg?size=626&ext=jpg" />
        <img
            src="https://img.freepik.com/free-photo/brunette-girl-holding-flower-bouquet_1258-7569.jpg?size=626&ext=jpg" />
        <img
            src="https://img.freepik.com/free-photo/portrait-young-stylish-laughing-model-colorful-casual-summer-clothes-with-natural-makeup-gray_158538-11785.jpg?size=626&ext=jpg" />
    </div>
</div>