<div class="container">
    <div class="sticky">
        <div class="content">
            <ul class="timeline">
                <!--day-->
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span><b>Day 1</b> - casablnca</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <p>Lorem ipsum dolor sit amet,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                    </div>
                </li>
                <!--day-->
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span><b>Day 2-3</b> - Rabat, McNes, Ps</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <p>Lorem ipsum dolor sit amet,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                    </div>
                </li>
                <!--day-->
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span><b>Day 4</b> - Iperran</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <p>Lorem ipsum dolor sit amet,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                    </div>
                </li>
                <!--day-->
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span><b>Day 5-6</b> - Ouzod Falls, Marrakech</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <p>Lorem ipsum dolor sit amet,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                    </div>
                </li>
                <!--day-->
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span><b>Day 7-8</b> - Marrakech</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <p>Lorem ipsum dolor sit amet,
                            sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam,
                            quis nostrud exercitation.
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="box">
    </div>
</div>