<div class="container">
    <header>
        <app-header></app-header>
    </header>
  <div class="left" id="left">
      <div class="head" id="head">
          <app-head></app-head>
      </div>
      <div class="content" id="content">
          <app-content></app-content>
      </div>
      <div class="gallery">
          <app-gallery></app-gallery>
      </div>
      <div class="timeline">
          <app-timeline></app-timeline>
      </div>
  </div>
  <div class="right">
      <div class="box">
          <div class="trip">
              <b>Claire's</b> Trip To Morocco
          </div>
          <div class="price">
              $2440
          </div>
          <div class="trip-content">
              Do you want a trip like Claire's?
          </div>
          <div class="btn">
              Buy Trip!
          </div>
          <div class="adv">
              <div class="adv-head">High demand</div>
              500+ views in just the last 24 hours! Book soon to avoid losing your place.
          </div>
          <div class="line"></div>
          <div class="adv2">
              <div class="adv-head">Payment plans available</div>
              Pay your trip off in instalments that you get to choose.
          </div>
          <div class="line"></div>
          <div class="adv3">
              <div class="adv-head">Lifetime deposit guarantee</div>
              Change of mind for trip, destination or dates? No problem! Learn more here.
          </div>
      </div>
      <div class="hie" id="hie"></div>
  </div>
</div>